<% if (window.currentUser && window.currentUser.email === "yilingchen1@gmail.com") { %>
  <button class="delete-q">delete</button>
<% } %>

<% if (window.currentUser && parseInt(window.currentUser.current_user_id) === question.user_id) { %>
  <% if (already_accepted === false) { %>
    <button class="accept-answer">
      <% if (answer.escape('accepted') === "false") { %>
        accept answer
      <% } else { %>
        unaccept answer
      <% } %>
    </button>
  <% } %>
  <% if (already_accepted === true) { %>
    <% if (answer.id === already_accepted_answer.id) { %>
      <button class="accept-answer">unaccept answer</button>
    <% } %>
  <% } %>
<% } %>

<div class="a-info-show">
  <div class="voting"></div>

  <p class="user-info">
    Answered: <%= (answer.escape("created_at")).slice(0, 10) %>
    <br>
    <img src="<%= answer.get('user_img') %>"/>
    <a href="#/users/<%= answer.escape('user_id') %>"><%= answer.get('user') %></a>
  </p>

  <% if (answer.escape('accepted') === "true") { %>
    <img src="https://s3-us-west-2.amazonaws.com/no-phenotype-users-pics/green-check.png"/>
  <% } %>

  <div style="display:inline-block; width: 65%; margin: 20px;">
    <%= answer.escape('content') %>
  </div>

</div>

<ul class="a-comments"></ul>

<button class="new-answer-comment">add comment</button>
<div class="a-comment-form" id="<%= answer.id %>"></div>
