
<div class="question-show">
  <% if (window.currentUser && window.currentUser.current_user_id === question.escape('user_id')) { %>
    <a class="edit-q-show" href="#/questions/<%= question.id %>/edit">edit question</a>
  <% } %>
  <h3><%= question.escape("title") %></h3>
</div>

<div class="q-info-show">

  <p class="user-info">
    Asked: <%= (question.escape("created_at")).slice(0, 10) %>
    <br>
    <img src="<%= question.get('user_img') %>"/>
    <a href="#/users/<%= question.escape('user_id') %>"><%= question.get('user') %></a>
  </p>

  <div class="voting">
  </div>


  <div style="display:inline-block; width: 65%; margin: 20px;">
    <%= question.escape("content") %>
  </div>

  <div class="tags" style="margin-left: 140px;"></div>

</div>

<ul class="q-comments"></ul>
<button class="new-comment">add comment</button>

<ul class="answers">
  <h4>
    <%= question.answers().length %>
    <%= question.answers().length === 1 ? 'Answer' : 'Answers' %>
  </h4>
</ul>

<div class="new-answer"></div>
