<div class="question-attr">
  <%= question.get('answercount') %><br>

  <%= question.get('answercount') <= 1 ? 'Answer' : 'Answers' %>
</div>

<div class="title-content">
  <h4><a href="#/questions/<%= question.id %>"><%= question.escape("title") %></a></h4>
  <p><%= question.escape("content") %></p>
</div>

<div class="question-asker">
  <p>Asked by: <%= question.get('user') %>
  <br>
    Asked: <%= question.escape("created_at").slice(0, 10) %>
  </p>
</div>

<div class="tags">

</div>
