<div class="question-show">
  <h3><%= question.escape("title") %></h3>
  <p>Asked: <%= (question.escape("created_at")).slice(0, 10) %></p>
  <p>Asked by: <%= question.get('user') %></p>
  <p><%= question.escape("content") %></p>
</div>

<ul class="answers"><h4><%= question.answers().length %> Answers</h4></ul>

<div class="new-answer"></div>
