<div class="voting">
  <p>Vote: <%= question.get('vote_count') %></p>
</div>

<div class="question-show">
  <h3><%= question.escape("title") %></h3>
  <p class="user-info">Asked by: <%= question.get('user') %><br>
     Asked: <%= (question.escape("created_at")).slice(0, 10) %>
  </p>
  <p><%= question.escape("content") %></p>
</div>

<div class="tags">

</div>

<ul class="answers">
  <h4>
    <%= question.answers().length %>
    <%= question.answers().length === 1 ? 'Answer' : 'Answers' %>
  </h4>
</ul>

<div class="new-answer"></div>
