
<div class="question-show">
  <h3><%= question.escape("title") %></h3>
</div>

<p class="user-info">Asked by: <%= question.get('user') %><br>
   Asked: <%= (question.escape("created_at")).slice(0, 10) %>
</p>

<div class="voting">
</div>

<p style="display:inline-block; width: 65%;"><%= question.escape("content") %></p>

<div class="tags">

</div>

<ul class="answers">
  <h4>
    <%= question.answers().length %>
    <%= question.answers().length === 1 ? 'Answer' : 'Answers' %>
  </h4>
</ul>

<div class="new-answer"></div>
