<% if (window.currentUser && window.currentUser.email === "yilingchen1@gmail.com") { %>
  <button class="delete-q">delete</button>
<% } %>

<div class="voting" style="margin-top:5px">
  <p style="text-align:center"><%= question.get('vote_count') %><br>
  <%= question.get('vote_count') === 1 ? "Vote" : "Votes" %></p>
</div>

<div class="question-attr">
  <%= question.get('answercount') %><br>

  <%= question.get('answercount') === 1 ? 'Answer' : 'Answers' %>
</div>

<div class="title-content">
  <h4><a href="#/questions/<%= question.id %>"><%= question.escape("title") %></a></h4>
  <p><%= question.escape("content").slice(0, 200) + "..." %></p>
</div>


<div class="user-info">Asked by:
  <a href="#/users/<%= question.escape('user_id') %>"><%= question.get('user') %></a><br>
  Asked: <%= question.escape("created_at").slice(0, 10) %>
</div>


<div class="tags">

</div>
