<!DOCTYPE html>
<html>
<head>
  <title>NoPhenotype</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_user.nil? %>
    <script type="text/javascript">
      window.currentUser = {
          "email" : "<%= current_user.email %>",
          "current_user_id" : "<%= current_user.id %>"
      };
    </script>
    <div class="nav-bar">
      <%= image_tag "NoPhenotype.png" %>
      <div class="nav-bar-right">
        <h4>logged in as: <span style="color:#5D6B95"><%= current_user.username %></span></h4>
        <%= button_to "Log Out", session_url, method: :delete %>
      </div>
    </div>

  <% end %>

<%= yield %>

</body>
</html>
