<!DOCTYPE html>
<html>
<head>
  <title>NoPhenotype</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= image_tag "NoPhenotype-logo.png" %>

  <% if !current_user.nil? %>
    <h3 id="username"><%= current_user.username %></h3>
    <%= button_to "Log Out", session_url, method: :delete %>
  <% end %>

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
